body {
    background-color: lavender;
}

p {
    color: black;
    font-family: calibri;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 50px;

}

h1 {
    color: black;
    text-align: center;
    font-family: calibri;
    font-size: 30px;
}