body {
    background-color: lavender;
}

div {
    border: 1px solid gray;
    padding: 8px;
}

p {
    color: black;
    font-family: calibri;
    text-align: justify;
    margin: 25px;
}

h1 {
    color: black;
    background-color: gray;
    text-align: center;
    font-family: calibri;
    font-size: 30px;
}

a {
    font-family: calibri;
}